<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css" integrity="sha512-jnSuA4Ss2PkkikSOLtYs8BlYIeeIK1h99ty4YfvRPAlzr377vr3CXDb7sb7eEEBYjDtcYj+AjBH3FLv5uSJuXg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
            <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">PHP-TEST</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                <a class="nav-link active" href="{{ path('car_index') }}" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="{{ path('app_login') }}">Login</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="{{ path('app_register') }}">Registrati</a>
                </li>
            </ul>
            </div>
        </div>
        </nav>
    
   
        {% block body %}{% endblock %}
         <ul>
        <table>
    <thead>
        <tr>
            <th>#</th>
            <th>Brand</th>
            <th>Model</th>
            <th>Production Year</th>
            <th>Price</th>
            <th>Condition</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {# {% for car in cars %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ car.brand }}</td>
                <td>{{ car.model }}</td>
                <td>{{ car.productionYear }}</td>
                <td>€{{ car.price }}</td>
                <td>
                    {% if car.isNew %}
                        Nuova
                    {% else %}
                        Usata
                    {% endif %}
                </td>
                <td>
                    {% if car.state %}
                        Disponibile
                    {% else %}
                        Venduta
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">No cars available.</td>
            </tr>
        {% endfor %} #}
    </tbody>
</table>

    </ul>
    </body>
</html>
